.header {
  width: 100vw;
  height: 60px;
  margin: 0 auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 3px 2px 7px rgba(0, 0, 0, 0.37);
  background: linear-gradient(0, rgb(27, 82, 105), rgb(133, 66, 199));
}

.containerHeader {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 1200px) {
  .containerHeader {
    max-width: 1158px;
  }
}
