.registerForm {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 1px solid rgba(255, 255, 255, 0.486);
  border-radius: 8px;
  width: 365px;
  padding: 10px 15px 15px 15px;
  height: 300px;
  margin: 0 auto;
}

.registerTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  color: aliceblue;
}

.btnRegister {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.inputRegister {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.nameError {
  position: absolute;
  top: 53px;
  left: 10%;
  font-size: 13px;
  pointer-events: none;
  text-align: center;
  color: rgb(185, 10, 10);
}

.passwordError {
  position: absolute;
  top: 196px;
  left: 10%;
  pointer-events: none;
  font-size: 13px;
  text-align: center;
  color: rgb(185, 10, 10);
}

.emailError {
  position: absolute;
  top: 125px;
  left: 10%;
  pointer-events: none;
  font-size: 13px;
  text-align: center;
  color: rgb(185, 10, 10);
}
