.container {
  margin: 0 auto;
  padding: 15px;
  padding-bottom: 60px;
}

.refreshLoader {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media screen and (min-width: 420px) {
  .container {
    max-width: 420px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1130px;
  }
}
