.container {
  max-width: 2300px;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 60px;
}

.refreshLoader {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
