.filterLabel {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.filterInput {
  display: block;
  margin-top: 5px;
  width: 250px;
  border-radius: 8px;
  background-color: white;
}

.filterInput:focus {
  background-color: rgb(192, 173, 173);
}
