.phoneBook {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 20px;
  color: aliceblue;
}

.contacts {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
  color: aliceblue;
}

.refreshLoader {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
