.contactsItem {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  width: 200px;
  height: 140px;
  padding: 7px;
  border: 2px solid rgba(160, 160, 160, 0.5);
  border-radius: 10px;
  background-color: white;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
}

.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btnDelete {
  padding: 0 8px;
  border-radius: 5px;
  width: 56px;
  height: 40px;
  background-color: #edf2f7;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
}

.btnDelete:hover,
.btnDelete:focus {
  cursor: pointer;
  background-color: #e2e8f0;
}

.buttonsDelUp {
  display: flex;
  gap: 55px;
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
}
