.titleWrap {
  position: relative;
  height: 50vh;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 36px;
  animation-name: primaryTitle;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes primaryTitle {
  0% {
    color: rgb(255, 255, 255);
  }
  100% {
    color: transparent;
  }
}
