body {
  background-color: #d7d5dd;
}

.titleContainer {
  padding: 0 20px;
  margin: 0 auto;
}

.titleSection {
  position: relative;
  height: 550px;
  width: 100vw;
  margin: 0 auto;
  background-color: gray;
  background-image: url('../../images/640.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: aliceblue;
}

@media screen and (min-width: 641px) {
  .titleSection {
    background-image: url('../../images/1280.jpg');
  }
}

@media screen and (min-width: 1200px) {
  .titleSection {
    width: 1158px;
  }
}
